.post-topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td{
    margin-left: 20px;
}
.post-wrapper{
    display: flex;
    flex-direction: column;
}
.posts{
    flex: 9;
    margin: 20px;
}
